.App {
  font-family: sans-serif;
  text-align: left;
  max-width: 600px;
  margin-left: 15vw;
  margin-top: 20vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  padding: 10px 15px;
}

small {
  display: block;
  margin: 3vh 0 1vh 0;
  color: grey;
  font-size: 0.5rem;
}

h1 {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

button {
  display: block;
  padding: 10px 30px;
  margin-top: 10px;
  background-color: teal;
  border: none;
}

input {
  padding: 10px 5px;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
